body{
    font-family: 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;
}
.portada{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    background-image: url('../imagenes/bodega.jpg'); 
    background-color: #1d252c;
    background-size: 400px 500px ;  
    background-repeat: no-repeat; 
    background-position-x: right;   
}
/*
.contendor-imagen{
    width: 500px;
}
*/
.header{
    background-color: #1b2127;
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0px;
    display:flex;
    justify-content: space-around;

}
/*selector decendente*/
.header a{
    font-family: 'Lato', sans-serif;
    color  :white;
    text-decoration: none;

}
.header img{
    vertical-align: middle;
}

.portada h1{
    width: 800px;
    color: white;
    /*margin: 100px 50px 100px 50px;*/
    margin: 0px;
}

h1 strong{
    color:#026FFF;
}

.experiencia{
    /*
    border-top: 10px solid red;
    border-right:10px solid seagreen;
    border-bottom: 10px solid red;
    border-left:10px solid seagreen;
    */
    /*border-color: red;*/
    font-family: 'Lato', sans-serif;
    border: 2px solid gray;
    border-top-left-radius:10px;   
    border-top-right-radius:10px; 
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background: #dddada;  
}

.experiencia-interior{
    background:white;
    height: 200px; 
    background-image: url('../imagenes/laboral.jpg');
    background-size: 600px 300px ;  
    background-repeat: no-repeat; 
    background-position-x: right;  
    border-radius: 10px;
    padding: 20px;
}

/* ******************************************** */

.experiencia-govz{
    /*
    border-top: 10px solid red;
    border-right:10px solid seagreen;
    border-bottom: 10px solid red;
    border-left:10px solid seagreen;
    */
    /*border-color: red;*/
    font-family: 'Lato', sans-serif;
    border: 2px solid gray;
    border-top-left-radius:10px;   
    border-top-right-radius:10px; 
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background: #FAA307;  
}

.experiencia-interior-govz{
    background:#FAA307;
    height: 240px; 
    background-image: url('../imagenes/estudios.jpg');
    background-size: 600px 300px ;  
    background-repeat: no-repeat; 
    background-position-x: right;  
    border-radius: 10px;
    padding: 20px;
}

.experiencia h2{    
    color: rgb(26, 25, 25);
    padding-left: 50px;
}

